# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
venv/
.envs/
.env
*.env
.pytest_cache/

# Node/Vue
node_modules/
dist/
npm-debug.log
yarn-error.log
yarn-debug.log

# Docker
*.log
*.pid
*.swp

# IDE / Editor
.vscode/*
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
